* {
    box-sizing: border-box;
    --coral: #FF8458;
    --maya-blue: #50D0FF;
    --mustard: #FFD750;
    --celadon-blue: #0080AF;
    /* --fiery-rose: #FF5079; */
}

html {
    width: 100%;
    height: 100%;
 }

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    /* height: 100%; */
    width: 100%;
    display: flex;
    position: relative;
    display: flex;
    flex: 1;
    z-index: 2;
}

button {
    border: none;
    background-color: transparent;
    text-align: start;
    margin-left: clamp(.25rem, 12%, 1rem);
    cursor: pointer;
}

header {
    background-color: var(--celadon-blue);
    color: var(--maya-blue);
    font-size: 1.25rem;
    z-index: 2;
    position: relative;
}

header h1 {
    margin: 0;
    padding: 1rem 0 1rem 1.5rem;
    color: #fff;
}



aside {
    background-color: var(--maya-blue);
    width: clamp(6rem, 20%, 8.5rem);
    padding: 1.5rem clamp(.75rem, 3vw, 1rem) 1.5rem clamp(.5rem, 2.5vw, 1rem);
    position: relative;
    /* border-right: 2px solid var(--coral); */
}

.home, .projects {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.home button, .projects button {
    color: var(--celadon-blue);
    padding-left: 0;
}

.home button:hover, .projects button:hover {
    transform: scale(1.1);
    font-weight: 600;
}

.projects-title button {
    min-width: 1.5rem;
    margin: 0;
}

.home h3 {
    color: #fff;
    margin: 0 0 .5rem;
}

.home h3:hover {
    color: var(--celadon-blue);
}

.home button {
    font-size: (.8rem, 1vw, 1rem);
}

.home h3::before {
    content: 'Home';
    cursor: pointer;
}

.projects h3 {
    display: flex;
    align-items: center;
    margin: 0 0 .5rem;
    color: #fff;
    cursor: pointer;
}

.projects h3:hover {
    color: var(--celadon-blue);
}

.projects h3 button {
    mask-image: url('photos/folder-plus.svg');
    -webkit-mask-image: url('photos/folder-plus.svg');
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: white;
    height: 1.5rem;
    width: 1.5rem;
}

.projects h3 button:hover {
    background-color: var(--celadon-blue);
}

.projects h3::before {
    content: 'Projects';
    margin-right: .5rem;
}

main {
    padding: 3.5rem 2rem 1rem clamp(1rem, 7%, 3rem);
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(12rem, 30%, 14rem));
    grid-auto-rows: 12.25rem;
    gap: 2rem;
}

.add-todo {
    font-family: unset;
    position: absolute;
    height: 2.5rem;
    top: 0;
    right: -2.25rem;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    font-weight: 200;
    color: var(--maya-blue);
}

.add-todo:hover {
    color: var(--celadon-blue);
}


/*---To Do Container---*/

.todo-container {
    width: 12rem;
    height: 12.25rem;
    margin: 0 auto;
    border: 3px solid var(--coral);
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
}

.todo-container .top {
    padding: .25rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--coral);
    color: white;
}

.todo-container .top p {
    margin: 0;
}

.top input {
    appearance: none;
    width: .75rem;
    height: .75rem;
    outline: 1px solid var(--celadon-blue);
    background-color: white;
    position: relative;
    top: -.2rem;
    right: -.2rem;
    cursor: pointer;
}

.top input:checked {
    background-color: var(--celadon-blue);
    background-image: url('photos/check.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.todo-container h4 {
    width: 11rem;
    /* text-decoration: underline; */
    font-size: 1.25rem;
    margin: .75rem auto .5rem;
    text-align: center;
    overflow: auto;
    padding-bottom: 1rem;
    height: 3rem;
}

.todo-container p {
    margin-bottom: 0;
    width: fit-content;
}

.todo-container .project {
    margin: 0 auto;
    text-transform: capitalize;
    color: var(--celadon-blue);
}

.todo-container .date {
    font-weight: 100;
    width: 100%;
    /* color: var(--coral); */
    text-align: center;
    padding: 0 0 2.5rem;
}

.todo-container .editables {
    position: absolute;
    bottom: 0;
    outline: 1px solid var(--coral);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: .25rem 0;
}

.todo-container .editables button {
    width: 1.25rem;
    height: 100%;
    margin: 0 .5rem;
    padding: 0;
    position: relative;
}

.todo-container .editables button:hover {
    background-size: 1.45rem; 
}

.edit  {
    background-image: url('photos/edit.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.description {
    background-image: url('photos/info.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.checklist {
    background-image: url('photos/list.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.remove {
    background-image: url('photos/trash-2.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.description-div, .checklist-div {
    display: none;
    position: absolute;
    top: -8.25rem;
    left: -3.55rem;
    height: 7.9rem;
    width: 11.5rem;
    overflow: auto;
    background-color: #fff;
    color: black;
    z-index: 2;
}

.checklist-div {
    left: -6.7rem;
}

.description-div p {
    margin: 0;
    padding: .25rem .5rem .5rem; 
}

.checklist-div ol {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    margin: 0;
    padding-left: 1.75rem;
    padding: .25rem 1rem .5rem 1.75rem 
}



/*---To Do Form---*/

.todo-form {
    width: clamp(14rem, 90%, 35rem);
    height: auto;
    padding: .5rem 2rem 1rem;
    margin: 0 auto;
    border: 10px solid #FF8458;
    position: absolute;
    top: .25rem;
    left: 0;
    right: 0;
    z-index: 4;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
    border-radius: 15px;
    /* filter: blur(5px); */
    
}

.todo-form h1 {
    width: 100%;
    margin: 0;
    margin-bottom: 2.5rem;
    text-align: center;
    border-bottom: 2px solid var(--celadon-blue);
    color: var(--celadon-blue);
}

.todo-form h1 span {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 1rem;
    color: var(--celadon-blue);
    padding: 0 .25rem;
    cursor: pointer;
}

.todo-form form {
    width: clamp(14rem, 100%, 35rem);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));;
    gap: 1rem;
}

.todo-form form input, select {
    width: clamp(14rem, 100%, 40rem);
    height: 2rem;
}

select {
    cursor: pointer;
    background-image: url('photos/chevron-down.svg');
    background-size: 1rem;
    background-position: right 3% center;
    background-repeat: no-repeat;
}

label {
    display: flex;
}

label[for='task'], label[for="time-label"], label[for="priority-label"], label[for="project-label"], label[for="task-info"], .checklist-inputs {
    position: relative;
    margin: 0 auto 1rem;
}

label[for='task']::before, label[for="time-label"]::before, label[for="priority-label"]::before, label[for="project-label"]::before, label[for="task-info"]::before, .checklist-inputs::before {
    content: 'Title:';
    position: absolute;
    left: 0;
    top: -1.5rem;
    color: var(--coral);
}

label[for="time-label"]::before {
    content: 'Due Date:'
}

label[for="priority-label"]::before {
    content: 'Priority:';
} 

label[for="project-label"]::before {
    content: 'Project:'
}

.checklist-inputs::before {
    content: 'Add to Checklist';
}

label[for="task-info"]::before {
    content: 'Description:';
}

.todo-form input, .todo-form select {
    appearance: none;
    border: 1px solid var(--celadon-blue);
    padding: 0 1rem;
    background-color: #fff;
}

/* .todo-form input:focus, .todo-form select:focus {
    background-color: #fff;
} */

.checklist-inputs label {
    flex-direction: column;
    gap: 0rem;
}

#task-info-label {
    height: 10rem;
    width: clamp(14rem, 100%, 40rem);

}

.checklist-inputs p {
    margin: 0;
}

.checklist-inputs .addList {
    background-color: var(--coral);
    font-size: 1rem;
    position: absolute;
}


textarea, .checklist-inputs {
    border-radius: 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    height: 10rem;
    width: clamp(14rem, 100%, 40rem);
}

textarea {
    background: none repeat scroll 0 0 #50D0FF20;
    padding: .75rem;
}


.checklist-inputs input {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    background: none repeat scroll 0 0 #50D0FF20;
    padding: 0 .5rem 0 1.75rem;   
    /* color: white; */
}

textarea:focus, .checklist-inputs input:focus {
    background: none repeat scroll 0 0 transparent;
    outline-width: 0;
    
}

.checklist-inputs label {
    height: 2rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.checklist-inputs label[for='firstchecklist'] input {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.checklist-inputs label[for='fifthchecklist'] input {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.checklist-inputs label::before {
    margin-left: .5rem;
    color:var(--coral);
}

.checklist-inputs label[for='firstchecklist']::before {
    content: '1.';
    width: fit-content;
}

.checklist-inputs label[for='secondchecklist']::before {
    content: '2.';
    width: fit-content;
}

.checklist-inputs label[for='thirdchecklist']::before {
    content: '3.';
    width: fit-content;
}
.checklist-inputs label[for='fourthchecklist']::before {
    content: '4.';
    width: fit-content;
}
.checklist-inputs label[for='fifthchecklist']::before {
    content: '5.';
    width: fit-content;
}

.addTask-button {
    border: 2px solid var(--coral);
    background-color: #fff;
    font-size: 1rem;
    color: var(--coral);
    text-align: center;
    margin: 0 auto;
    width: 6rem;
    padding: .25rem 0;
    cursor: pointer;
    grid-column: 1/-1;
    border-radius: 20px;
}


/*---Project-Form---*/

.project-form {
    background-color: var(--maya-blue);
    width: 16rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 2rem;
    z-index: 4;
    border-radius: 10px;
    border: 8px solid var(--celadon-blue);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.25);
}

.project-exit {
    position: absolute;
    right: .5rem;
    width: 1rem;
    padding: 0;
    text-align: center;
    color: #fff;
    margin: 0;
}

.project-form label {
    margin: 2.5rem auto 1rem;
    height: 2rem; 
    width: 12rem;
    position: relative;
}

.project-form label::before {
    content: 'Project Title:';
    position: absolute;
    top: -2rem;
    left: 3rem;
    color: #fff;
    font-size: 1.25rem;
}

.project-form input {
    width: 100%;
    height: 2rem;
    padding: 0 1rem;
}

.project-button-div {
    width: 3.5rem;
    margin: 0 auto;
}

.project-form button:not(.project-exit) {
    border: 2px solid #fff;
    width: 3.5rem;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    border-radius: 20px;
}


.overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    background-color: rgba(0,0,0,0.5);
}

.overlayed-header {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    z-index: 4;
    background-color: rgba(0,0,0,0.5);
    top: 0;
}

@media screen and (max-width: 640px) {
    .projects h3::before, .home h3::before {
        content: none;
    }

    .home h3 {
        background-image: url(photos/home.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 1.5rem;
        height: 1.5rem;
    }
    main {
        justify-content: center;
    }
}